$dark-text: #fffffff5;
$dark-second-text: #FFFFFF99;
$dark-border: #C2C2C20F;
$dark-background: #202123;
$dark-header-background: #27282d;
$dark-header-border: #2b2b2b;
$dark-user-card: $dark-header-background;
$dark-other-card: #282828;
$dark-input: $dark-user-card;
$dark-input-text: $dark-text;
$dark-disabled-input: $dark-text;
$dark-pagination-border: rgba(121, 121, 121, 0.96);
$dark-shadow: #1D1D1DFF;
$dark-darker-shadow: #00000033;
