@import 'dark-colors';

body.dark {
  background-color: $dark-background;
  color: $dark-text;
}

.dark {

  input,
  textarea {
    color: $dark-text;
    background-color: $dark-input;
    border: 0;

    &::placeholder {
      color: $dark-text;
      opacity: .5;
    }
  }

  input[type='radio'] {
    accent-color: grey;
  }

  .delete__btn {
    color: $dark-text;
    border-color: $dark-text;
  }

  .page-header {
    background-color: $dark-header-background;
    border: 0;
  }

  .header-wrapper {
    &.main {
      .header-nav__buttons {
        svg path {
          fill: $dark-background;
        }

        a svg path {
          fill: none;
          stroke: $dark-background;
        }
      }
    }
  }


  .header-nav__buttons {
    svg {
      color: $dark-text;
    }
  }

  #main__about {
    color: $dark-text;
  }

  .leaderboard {
    color: $dark-text;

    li:hover {
      box-shadow: 0 4px 10px rgba(255, 255, 255, 0.07);
    }
  }

  .leaderboard__leader {
    background: $dark-user-card;
  }

  .card {
    color: $dark-text;
    background: $dark-user-card;
    box-shadow: 0 0.125rem 0.35rem rgba(84, 84, 84, 0.07);

    &.other {
      background: $dark-other-card;
    }
  }

  .training__card {
    color: $dark-text;
    background: $dark-user-card;

    &.flipped {
      background: $dark-other-card;
    }
  }

  .training__card__shadow {
    box-shadow: 0 0.125rem 0.35rem rgba(84, 84, 84, 0.07);
  }

  .pagination__button {
    color: $dark-text;
    border-color: $dark-pagination-border;

    &.active {
      color: $dark-user-card;
      background-color: $dark-text;
    }
  }

  .account-stat {
    li {
      background-color: $dark-input;

      svg {
        fill: $dark-text
      }
    }
  }

  .main__btn {
    color: $dark-background;
    background-color: $dark-text;
  }

  .card-settings svg {
    color: $dark-text;
  }

  .deck-info__leaderboard {
    color: $dark-background;

    li {
      background: $dark-user-card;

    }
  }

  .deck-info__cards-amount {
    background-color: $dark-input;

    svg {
      fill: $dark-text
    }
  }

  .card-list_search {
    svg {
      fill: $dark-second-text;
    }
  }

  li:has(.card):hover::after {
    background-color: $dark-text;
  }

  .training-empty {
    a {
      color: $dark-background;
    }
  }

  .signin {
    a, p {
      color: $dark-text;
    }

    p.error {
      color: red;
    }
  }


  .training-empty {
    a {
      color: $dark-text;
    }
  }

  .loading {
    border-color: $dark-text;
  }

  .modal__wrapper {
    background-color: $dark-background;

    .add__image__btn {
      color: $dark-text;
    }

    .file {
      background-color: transparent;
    }

    .file__wrapper button {
      color: $dark-text;
    }
  }

  .invalid {
    border: 1px solid red;
  }

  .copy-link {
    color: $dark-background;
    background-color: $dark-disabled-input;
    border: 0;
  }

  .copy-link__icon__wrapper {
    background-color: $dark-header-background;
    border: 0;

    svg {
      color: $dark-text;
    }
  }

  .page-footer {
    background: $dark-header-background;
    border-top: 0;
  }

  .footer__copyright__wrapper {
    border-top: 1px solid $dark-header-border;
    //border-color: $dark-header-border;
  }

  .react-confirm-alert-body {
    background-color: $dark-background !important;
    box-shadow: none !important;
    color: $dark-second-text;

    h1 {
      color: $dark-text;
    }

    button {
      color: $dark-text !important;
      background-color: transparent !important;
      border: 1px solid $dark-text !important;

      &:first-child {
        color: $dark-background !important;
        background-color: $dark-text !important;
      }
    }
  }
}
