$dark-text: #fffffff5;
$dark-second-text: rgba(255, 255, 255, 0.6);
$dark-border: rgba(194, 194, 194, 0.06);
$dark-background: #212121;
$dark-header-background: #1c1c1c;
$dark-header-border: #2b2b2b;
$dark-user-card: #2b2b2b;
$dark-other-card: #3b3b3b;
$dark-input: $dark-user-card;
$dark-input-text: $dark-text;
$dark-disabled-input: $dark-text;
$dark-pagination-border: rgba(255, 255, 255, 0.2);
