$light-text: #305383;
$light-second-text: #163152B2;
$light-border: #16315210;
$light-background: #f6f7fb;
$light-header-background: white;
$light-header-border: #dedede;
$light-user-card: #fff;
$light-other-card: rgba(126, 193, 244, 0.15);
$light-search: #EBEBEB;
$light-search-text: #9a9a9a;
$light-input-border: #16315210;
$light-disabled-input: #E8F0FE;
$main-banner: linear-gradient(113.35deg, rgba(36, 111, 204, 0.93) 3.29%, #163152 95.15%);
