@import '../../colors/light-colors.scss';
@import '../../colors/dark-colors.scss';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;

  h1 {
    font-size: 100px;
    text-decoration: none;
  }

  p {
    color: $light-second-text;
    text-align: center;
    line-height: 22px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $light-background;
  background-color: $light-text;
  font-weight: 600;
  border-radius: 10px;
  padding: 12px 50px;
}

.dark {
  .button {
    color: $dark-background;
    background-color: $dark-text;
  }
}