$light-text: #163152;
$light-second-text: #163152B2; 
$light-hover-text: #16315280;
$light-active-text: #1631524D;
$light-border: #16315210;
$light-background: #FFFFFF;
$light-line: #00C6BD;
$light-worst: linear-gradient(113.1deg, #163152 4.73%, #051325 94.3%);
$light-bad: linear-gradient(113.35deg, #246FCC 3.29%, #163152 95.15%);
$light-normal: linear-gradient(113.28deg, #5484FF 6.29%, #22409D 93.77%);
$light-good: linear-gradient(219.99deg, #3ECDAB 22.89%, #28CFDA 80.33%);
$light-best: linear-gradient(47.45deg, #00C6BD 20.48%, #07DF91 79.09%);
$light-other-card: linear-gradient(113.28deg, #5484FF 6.29%, #22409D 93.77%);
$light-user-card: linear-gradient(113.35deg, #193354 3.29%, #091729 95.15%);
$light-search: #EBEBEB;
$light-search-text: #9a9a9a;
$light-disabled-input: #E8F0FE;
$main-banner: linear-gradient(113.35deg, rgba(36, 111, 204, 0.93) 3.29%, #163152 95.15%);