@import './colors/dark-colors.scss';

body.dark {
  background-color: $dark-background;
  color: $dark-text;
}

.dark {

  input,
  textarea {
    color: $dark-text;
    background-color: $dark-input;
    border: 0;

    &::placeholder {
      color: $dark-text;
      opacity: .5;
    }
  }

  .header-wrapper {
    border-color: $dark-border;

    &.main {
      .header-nav__buttons {
        svg path {
          fill: $dark-background;
        }

        a svg path {
          fill: none;
          stroke: $dark-background;
        }
      }
    }
  }

  .header-nav__buttons {
    a,
    button {
      border-color: $dark-line;
      background: $dark-line;
    }

    a svg {
      stroke: $dark-background;
    }
  }

  #main__about {
    color: $dark-text;
  }

  .main__leaders__list {
    color: $dark-background;

    li {
      background: $dark-worst;
      box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.2);
    }
  }

  .card {
    color: $dark-background;
    background: $dark-user-card;
    box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.2);

    &.other {
      background: $dark-other-card;
    }
  }

  .training__card {
    color: $dark-background;
    background: $dark-worst;
    box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.2);

    &.flipped {
      background: $dark-bad;

    }
  }

  .pagination {
    svg {
      fill: $dark-text;
    }
  }

  .account-stat {
    li {
      background-color: $dark-input;

      svg {
        fill: $dark-text
      }
    }
  }

  .footer-wrapper {
    border-color: $dark-border;
  }

  .main__btn {
    color: $dark-background;
    background-color: $dark-text;
  }

  .card-settings {

    svg {
      fill: $dark-background;
    }
  }

  .deck-info__leaderboard {
    color: $dark-background;

    li {
      background: $dark-user-card;

    }
  }

  .deck-info__cards-amount {
    background-color: $dark-input;

    svg {
      fill: $dark-text
    }
  }

  .card-list_search {
    svg {
      fill: $dark-second-text;
    }
  }

  .training-empty {
    a {
      color: $dark-background;
    }
  }

  .signin {
    a, p {
      color: $dark-text;
    }

    p.error {
      color: red;
    }
  }

  .training__score-list {

    li::before {
      background: $dark-worst;
    }

    .bad::before {
      background: $dark-bad;
    }

    .normal::before {
      background: $dark-normal;
    }

    .good::before {
      background: $dark-good;
    }

    .best::before {
      background: $dark-best;
    }
  }

  .training__rating__list {

    button {
      color: $dark-background;

      &.worst {
        background: $dark-worst;
      }

      &.bad {
        background: $dark-bad;
      }

      &.normal {
        background: $dark-normal;
      }

      &.good {
        background: $dark-good;
      }

      &.best {
        background: $dark-best;
      }
    }
  }

  .training-empty {
    a {
      color: $dark-text;
    }
  }

  .loading {
    border-color: $dark-text;
  }

  .modal__wrapper {
    background-color: $dark-background;

    .add__image__btn {
      color: $dark-text;

      &.error {
        color: red;
      }
    }

    .file {
      background-color: transparent;
    }
  }

  .invalid {
    border: 1px solid red;
  }

  .react-confirm-alert-overlay {
    background: rgba(33, 33, 33, .8) !important;
  }

  .react-confirm-alert-body {
    background-color: $dark-background !important;
    box-shadow: none !important;
    color: $dark-second-text;

    h1 {
      color: $dark-text;
    }

    button:first-child {
      color: $dark-background;
      background-color: $dark-text !important;
    }
  }
}