@import './colors/light-colors.scss';
@import 'dark-theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-background;

  font-size: 14px;
  width: 1200px;
  margin: 0 auto;
  color: $light-text;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  color: $light-background;
  font-family: 'Montserrat', sans-serif;
  border: 0;

  &:disabled {
    cursor: default;
    background-color: grey;
  }

  &:hover {
    cursor: pointer;
  }
}

.main__btn {
  background-color: $light-text;
}

.delete__btn {
  background-color: red;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

h3 {
  font-size: 14px;
  font-weight: 600;
}

input,
textarea {
  height: 40px;
  width: 350px;
  color: $light-text;
  border-radius: 10px;
  padding: 0 15px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: 1px solid $light-search;
  resize: none;

  &.invalid {
    border-color: red;
  }

  &:disabled {
    background-color: $light-disabled-input;
  }
}


.page-header {
  display: flex;
  justify-content: center;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid $light-border;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
}

.header-nav__list {
  display: flex;
  column-gap: 70px;

  a.active {
    font-weight: 700;
  }
}

.header-nav__buttons {
  display: flex;
  column-gap: 10px;

  button,
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid $light-line;
    border-radius: 50%;
  }

  a svg {
    stroke: $light-text;
  }
}

.header-logo {
  font-weight: bold;
}

.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 300px);
  width: 100%;
  margin: 50px 0;

  h1 {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: $light-line;
    margin-bottom: 30px;
  }
}

#video__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-top: -52px;
}

#video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(.4);
}

#main__hero {
  position: absolute;
  top: 30%;
  color: $light-background;
  width: 100%;
  max-width: 1200px;
  z-index: 2;

  div {
    width: 50%;

    h1 {
      font-size: 30px;
      margin-bottom: 20px;
      text-decoration: none;
    }

    p {
      font-size: 18px;
      opacity: .8;
    }
  }

  img {
    height: 100%;
  }
}

#main__description {
  margin-bottom: 60px;
}

#main__about {
  display: flex;
  flex-direction: column;
  color: $light-text;
  height: 380px;
  margin-bottom: 50px;

  h2 {
    text-align: center;
    padding: 100px 0 80px;
  }

  div {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    align-items: center;

    p {
      width: 30%;
    }
  }
}

#main__leaders__wrapper {
  width: 100%;
  margin: 80px 0;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 200px;
    background: $light-user-card;
    color: $light-background
  }

  li {
    text-align: center;

    a {
      display: block;
      margin-bottom: 10px;
    }
  }
}


.card-list {
  width: 100%;
}

.cards-list__wrapper {
  width: 100%;
  height: 590px;
  margin: 50px 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-height: 100%;

    li {
      height: 125px;
    }

    li.editor {
      position: relative;
    }
  }

  .empty__search__message {
    display: none;
  }

  &.empty {
    display: flex;
    justify-content: center;
    align-items: center;

    .empty__search__message {
      display: inline-block;
    }
  }
}

.card-list_search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;

  input {
    width: 462px;
    padding-left: 40px;
  }

  svg {
    position: absolute;
    top: 12px;
    right: 428px;
    width: 16px;
    fill: $light-second-text;
    opacity: .8;
  }
}

.card {
  color: $light-background;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $light-user-card;
  box-shadow: 0 8px 8px 0 rgba(31, 38, 135, 0.37);

  width: 216px;
  height: 100%;
  padding: 7%;
  border-radius: 10px;

  &.other {
    background: $light-other-card;
  }

  h3 {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card-settings {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;

  svg {
    fill: $light-background;
  }
}

.training-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  align-items: center;
  margin: 80px 0;
}

.training-empty {
  text-align: center;

  a {
    display: block;
    padding: 12px 36px;
    border-radius: 10px;
    font-weight: 600;
    color: $light-background;
    margin-top: 20px;
  }
}

.training__score-list {
  display: flex;
  justify-content: center;
  column-gap: 70px;

  li {
    &::before {
      display: inline-block;
      content: '';
      width: 10px;
      height: 10px;
      background: $light-worst;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .bad {
    &::before {
      background: $light-bad;
    }
  }

  .normal {
    &::before {
      background: $light-normal;
    }
  }

  .normal {
    &::before {
      background: $light-normal;
    }
  }

  .good {
    &::before {
      background: $light-good;
    }
  }

  .best {
    &::before {
      background: $light-best;
    }
  }
}

.training__card {
  width: 600px;
  height: 400px;
  color: $light-background;
  background: $light-user-card;
  border-radius: 20px;
  perspective: 1000px;
  transform-style: flat;
  transition: .5s;
  padding: 20px;

  &.flipped {
    transform: rotateX(180deg);
    background: $light-other-card;

    .card__text {
      transform: rotateX(180deg);
    }

    img {
      transform: rotateX(180deg);
    }
  }
}


.training__rating {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 30px;
  }
}

.training__rating__list {
  display: flex;
  column-gap: 50px;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: $light-background;

    &.worst {
      background: $light-worst;
    }

    &.bad {
      background: $light-bad;
    }

    &.normal {
      background: $light-normal;
    }

    &.good {
      background: $light-good;
    }

    &.best {
      background: $light-best;
    }
  }
}

.account__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;

  label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 30px;
  }

  input {
    width: 550px;
  }

  .submit {
    width: 100%;
    height: 40px;
    font-weight: 600;
    border-radius: 10px;
  }

  form {
    margin-bottom: 30px;
  }
}

.account__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  margin-bottom: 50px;
}

#account__name {
  text-decoration: none;
  margin-bottom: 5px;
}

#account-edit-name-wrapper {
  display: flex;
  column-gap: 50px;

  input {
    width: 250px;
  }
}

.account-stat {
  display: grid;
  grid-template-columns: repeat(2, 280px);
  gap: 20px;
  margin-bottom: 30px;

  li {
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 280px;
    height: 80px;
    background-color: $light-search;
    border-radius: 10px;
    padding: 20px;

    svg {
      fill: $light-text
    }
  }
}

.deck-info__wrapper {
  width: 100%;

  h2 {
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.leader__name {
  font-size: 16px;
  font-weight: 600;
}

.deck-info__row {
  margin: 20px 0;
}

.deck-info__leaderboard {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 120px;
  color: $light-background;
  background: $light-user-card;
  height: 200px;
  margin-bottom: 10px;

  li {
    text-align: center;
  }
}

.deck-info__cards-amount {
  display: flex;
  width: 280px;
  height: 80px;
  align-items: center;
  column-gap: 10px;
  background-color: $light-search;
  border-radius: 20px;
  padding: 20px;
  margin: 50px 0;

  svg {
    fill: $light-text
  }
}

.deck-info__actions,
.account__actions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 50px;

  button,
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    color: $light-background;
    height: 40px;
    width: 280px;
    border-radius: 10px;
  }
}

.deck-info__actions {
  flex-direction: row;
  row-gap: 0;
  column-gap: 20px;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
}

.modal__wrapper {
  width: 40vw;
  max-width: 800px;
  padding: 80px 80px;
  background-color: $light-background;
  border-radius: 15px;

  h3 {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  input {
    width: 100%;
  }

  input[type='radio'] {
    width: 10px;
    height: 10px;
  }

  .privacy {
    display: flex;
    column-gap: 50px;

    label {
      flex-direction: row;
      column-gap: 10px;
      align-items: center;
    }
  }

  label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  textarea {
    width: 100%;
    height: 160px;
    padding-top: 10px;
  }

  .file {
    border: 0;
    border-radius: 0;
    padding: 0;
  }

  &.card__modal {
    display: flex;
    align-items: center;
    width: 80vw;
    max-width: 1500px;

    & > div {
      width: 50%;
    }

    .card {
      height: 25vh;
      min-height: 250px;
      width: 90%;
      max-width: 450px;
      margin: 0 auto;
    }

    .card__text {
      max-height: 100%;
      overflow: scroll;
    }
  }
}

.modal__buttons {
  display: flex;
  column-gap: 5%;

  button {
    width: 50%;
  }
}

.modal_submit {
  width: 100%;
  height: 40px;
  font-weight: 600;
  border-radius: 10px;
}

.page-footer {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  width: 100%;
  height: 100px;
  border-top: 2px solid $light-border;
}

.signin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    label {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }
}

.sign-in__forgot {
  display: flex;
  justify-content: flex-end;

  a {
    color: $light-second-text
  }
}

.sign-in__signup {
  display: flex;
  justify-content: space-between;

  p {
    color: $light-second-text
  }

  a {
    font-weight: 600;
  }

}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin: 50px 0;

  p {
    font-weight: bold;
    font-size: 16px;
  }

  svg {
    fill: $light-text;
  }
}

.add__image__btn {
  color: $light-text;
  font-style: italic;
  width: 170px;

  &:hover {
    text-decoration: underline;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.error {
  color: red;
}

.add__deck__wrapper {

  h1 {
    text-decoration: none;
  }

  form {
    width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    label {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }
}